* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(rgb(7, 20, 57) );
}

.container {
  width: 70%;
  margin: 40px auto;
  padding: 20px;
  color: white;
  border-radius: 12px;
}

.question {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.question h4 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}


.bonne {
    background-color: #c8e6c9; /* vert clair */
}

.mauvaise {
    background-color: #ffcdd2; /* rouge clair */
}
